h1, h2, p {
			text-align:center;
			margin: auto;
		}
table, th, td {
			text-align: center;
		}
tbody {
			font-style: italic;
}
td		{
			font-style:italic;
}
	
th, td {
			padding:5px;
		}
li 		{
			font-style: italic;
}
.photo	{
			height:300px;
			width:300px;
		}
.brdr {

			margin:auto;
}
a		{
			text-decoration:none;
}
a:hover {
			text-decoration:underline;
			background-color: green;
}
#header1 {
			width:10%;
		}
#header2 {
			width:30%;
}

#font1{
			font-family: Orbitron;
		}
