h1, h2, p {
			text-align:center;
			margin: auto;
		}
table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
		}
tbody {
			font-style: italic;
}
tbody tr:nth-child(even)	{
			background-color: #FFEFD5;
}
tbody tr:nth-child(odd) {
			background-color: #FFDEAD;
}
td		{
			font-style:italic;
}
	
th, td {
			padding:5px;
		}
li 		{
			font-style: italic;
}
div		{
			background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/c9/Linkin_park_hybrid_theory.jpg/220px-Linkin_park_hybrid_theory.jpg);
			background-repeat:no-repeat;
			height:300px;
			width:300px;
			margin-left:auto;
			margin-right:auto;
			background-size: contain;
		}
a		{
			text-decoration:none;
}
a:hover {
			text-decoration:underline;
			background-color: green;
}
#header1 {
			width:10%;
		}
#header2 {
			width:30%;
}

#font1{
			font-family: Orbitron;
		}
