h1, h2, p {
			text-align:center;
			margin: auto;
		}
table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
		}
	
th, td {
			padding:5px;
		}
#header1 {
			width:10%;
		}
#header2 {
			width:30%;
}
