h1 {
  text-align: center;
}

div {
  text-align:center;
}

input {
  width: 100px;
  text-align: center;
}
#play:hover{
  color: Green;
}
#play {
  font-family: "Times New Roman";
  font-size: large;
  width: 10%;
  height: 40px;
  padding: 5px;
}

table {
  display: none;
  border-collapse: collapse;
  width: 30%;
  margin: auto;
}

th {
  width: 50%;
  text-align: left;
  border-bottom: 1px solid black;
  background-color: lightgray;
  padding-top: 10px;
}

.result {
  text-align: center;
}
td.result{
   border-left: 1px solid black;
}

td {
  padding-top: 10px;
}

caption {
  text-decoration: underline;
}