
h1, h4 {
		font-family: "Rock Salt";
}
iframe {
		border:none; 
		width:100%; 
		height:500px;
		overflow:hidden;
}
a {
		padding-left:20px;
}
header {
		height:260px;
		
}
footer {
		height:100px;
		
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width:50%;
	height:220px;
     margin: auto;
  }