h1, h4 {
		text-align:center;
}
h1 {
		font-family: 'Rock Salt';
}
iframe {
		border:none; 
		width:100%; 
		height:500px;
}
a {
		padding-left:20px;
}
header {
		height:150px;
		
}
footer {
		height:100px;
		
}
