
html, body {
	height:100%;
	}
body {
	display:table;
	height:100%;
	width:100%;
}
header, main, footer {
	display:table-row;
}

div.cell {
	  display: table-cell;
      min-height: 100px;
      vertical-align: middle;
      text-align: center;
}
header > div.cell {
    height: 1px;
}
main > div.cell{
    padding: 10%;
    background-image:url("http://www.unsigneddesign.com/Seamless_background_textures/thumbs/seamlesstexture15_1200.jpg");
	background-repeat: repeat;
  }
footer > div {
    height: 1px;
	background-color: lightgray;
}



h1, h4, a {
		font-family: "Rock Salt";
}
h4, h1 {
	color: green;
	text-shadow: 2px 2px white;
	word-spacing: 10px;
	
}

.titles {
		color: 	green;
		font-family: "Rock Salt";
		font-weight: bold;
		}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width:450px;
	height:200px;
    margin: auto;
  }
 
 
 